//BANNER SECTION STYLING STARTS HERE
#banner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-image: url("./Assets/b1.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
}
.contactus {
  display: flex;

  justify-content: space-between;
  padding: 20px 30px;
}

.contactdetails {
  width: 40%;
}
.contactus__h2 {
  font-weight: 800;
  font-size: 1.8rem;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.6);
}
.contact__map {
  width: 55%;
}
.locationmap {
  width: 100%;
  height: 100%;
}
.contactus__h1 {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}
.contactus__h3 {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contactus___p1 {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contactus___p2 {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}
.contactus___p3 {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
}

//FORM STYLING
.form__section {
  display: flex;
  align-items: center;
}
.form {
  width: 65%;
  padding: 20px 30px;
}
.formcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formcontent input {
  width: 100%;
  padding: 14px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.formcontent textarea {
  width: 100%;
  padding: 14px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.contact__btn {
  width: 120px;
  height: 40px;
  background-color: rgb(46, 46, 141);
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
}
.contact__btn:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(46, 46, 141);
}
.anchors {
  padding: 20px 20px;
}
.eachimg {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
}
.anchors__text {
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
.anchors__text--name {
  color: black;
  font-weight: 900;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
//RESPONSIVE STYLING STARTS HERE
@media (max-width: 799px) {
}
@media (max-width: 480px) {
  .contactus {
    flex-direction: column;
  }
  .contactdetails {
    width: 100%;
  }
  .contactus__h2 {
    padding-bottom: 30px;
  }
  .contact__map {
    width: 100%;
  }
  .form__section {
    flex-direction: column;
  }
  .form {
    width: 90%;
    padding: 10px 10px;
  }
}
